In [10]:
dataset = [['Milk', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
          ['Coke', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
          ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
          ['Milk', 'Orange', 'Corn', 'Beans', 'Yogurt'],
          ['Corn', 'Cookie', 'Cookie', 'Beans', 'Ice cream', 'Eggs']]

In [12]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns = te.columns_)
df

,Apple,Beans,Coke,Cookie,Corn,Eggs,Ice cream,Kidney Beans,Milk,Orange,Yogurt
0,True,True,False,True,False,True,False,False,True,False,True
1,True,True,True,True,False,True,False,False,False,False,True
2,True,False,False,False,False,True,False,True,True,False,False
3,False,True,False,False,True,False,False,False,True,True,True
4,False,True,False,True,True,True,True,False,False,False,False

In [13]:
import mlxtend
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True)
frequent_itemsets

    support               itemsets
0       0.6                (Apple)
1       0.8                (Beans)
2       0.6               (Cookie)
3       0.8                 (Eggs)
4       0.6                 (Milk)
5       0.6               (Yogurt)
6       0.6          (Eggs, Apple)
7       0.6        (Cookie, Beans)
8       0.6          (Eggs, Beans)
9       0.6        (Yogurt, Beans)
10      0.6         (Eggs, Cookie)
11      0.6  (Eggs, Cookie, Beans)

In [14]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [15]:
dataset = [['Milk', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
          ['Coke', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
          ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
          ['Milk', 'Orange', 'Corn', 'Beans', 'Yogurt'],
          ['Corn', 'Cookie', 'Cookie', 'Beans', 'Ice cream', 'Eggs']]
type(dataset)

list

In [16]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[ True,  True, False,  True, False,  True, False, False,  True,
        False,  True],
       [ True,  True,  True,  True, False,  True, False, False, False,
        False,  True],
       [ True, False, False, False, False,  True, False,  True,  True,
        False, False],
       [False,  True, False, False,  True, False, False, False,  True,
         True,  True],
       [False,  True, False,  True,  True,  True,  True, False, False,
        False, False]])

In [17]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df

,Apple,Beans,Coke,Cookie,Corn,Eggs,Ice cream,Kidney Beans,Milk,Orange,Yogurt
0,True,True,False,True,False,True,False,False,True,False,True
1,True,True,True,True,False,True,False,False,False,False,True
2,True,False,False,False,False,True,False,True,True,False,False
3,False,True,False,False,True,False,False,False,True,True,True
4,False,True,False,True,True,True,True,False,False,False,False

In [18]:
import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
apriori(df, min_support = 0.6)

    support   itemsets
0       0.6        (0)
1       0.8        (1)
2       0.6        (3)
3       0.8        (5)
4       0.6        (8)
5       0.6       (10)
6       0.6     (0, 5)
7       0.6     (1, 3)
8       0.6     (1, 5)
9       0.6    (1, 10)
10      0.6     (3, 5)
11      0.6  (1, 3, 5)

In [19]:
apriori(df, min_support = 0.6, use_colnames = True)

    support               itemsets
0       0.6                (Apple)
1       0.8                (Beans)
2       0.6               (Cookie)
3       0.8                 (Eggs)
4       0.6                 (Milk)
5       0.6               (Yogurt)
6       0.6          (Eggs, Apple)
7       0.6        (Cookie, Beans)
8       0.6          (Eggs, Beans)
9       0.6        (Yogurt, Beans)
10      0.6         (Eggs, Cookie)
11      0.6  (Eggs, Cookie, Beans)

In [21]:
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x:len(x))
frequent_itemsets

    support               itemsets  length
0       0.6                (Apple)       1
1       0.8                (Beans)       1
2       0.6               (Cookie)       1
3       0.8                 (Eggs)       1
4       0.6                 (Milk)       1
5       0.6               (Yogurt)       1
6       0.6          (Eggs, Apple)       2
7       0.6        (Cookie, Beans)       2
8       0.6          (Eggs, Beans)       2
9       0.6        (Yogurt, Beans)       2
10      0.6         (Eggs, Cookie)       2
11      0.6  (Eggs, Cookie, Beans)       3

In [22]:
frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >=0.6)]

    support         itemsets  length
6       0.6    (Eggs, Apple)       2
7       0.6  (Cookie, Beans)       2
8       0.6    (Eggs, Beans)       2
9       0.6  (Yogurt, Beans)       2
10      0.6   (Eggs, Cookie)       2

In [23]:
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Eggs),(Apple),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.00
1,(Apple),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.50
2,(Cookie),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.50
3,(Beans),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.00
4,(Eggs),(Beans),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.25
5,(Beans),(Eggs),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.25
6,(Yogurt),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.50
7,(Beans),(Yogurt),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.00
8,(Eggs),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.00
9,(Cookie),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.50
10,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.50
11,"(Eggs, Beans)",(Cookie),0.6,0.6,0.6,1.00,1.666667,0.24,inf,1.00
12,"(Cookie, Beans)",(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.50
13,(Eggs),"(Cookie, Beans)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.00
14,(Cookie),"(Eggs, Beans)",0.6,0.6,0.6,1.00,1.666667,0.24,inf,1.00
15,(Beans),"(Eggs, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.00

In [25]:
rules2 = association_rules(frequent_itemsets, metric = "lift", min_threshold = 1.2)
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Eggs),(Apple),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.0
1,(Apple),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.5
2,(Cookie),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.5
3,(Beans),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.0
4,(Yogurt),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.5
5,(Beans),(Yogurt),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.0
6,(Eggs),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.0
7,(Cookie),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.5
8,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.5
9,"(Eggs, Beans)",(Cookie),0.6,0.6,0.6,1.00,1.666667,0.24,inf,1.0
10,"(Cookie, Beans)",(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.5
11,(Eggs),"(Cookie, Beans)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.0
12,(Cookie),"(Eggs, Beans)",0.6,0.6,0.6,1.00,1.666667,0.24,inf,1.0
13,(Beans),"(Eggs, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.0

In [27]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules[(rules['antecedent_len']>=2) & (rules['confidence'] > 0.75) & (rules['lift'] >1.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric,antecedent_len
8,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.0,1.250000,0.12,inf,0.5,2
9,"(Eggs, Beans)",(Cookie),0.6,0.6,0.6,1.0,1.666667,0.24,inf,1.0,2
10,"(Cookie, Beans)",(Eggs),0.6,0.8,0.6,1.0,1.250000,0.12,inf,0.5,2